@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
	@apply font-sans;
}
input {
	@apply border border-violet-light rounded-md p-2 py-2;
}
input::placeholder {
	opacity: 0.7;
}
label {
	@apply text-sm text-violet-dark font-thin pb-2;
}
